<!--Opciones de un usuario staff-->
<div class="btn-group">
	<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
			aria-expanded="false">Opciones</button>
	<div class="dropdown-menu">
		<a class="dropdown-item" href="{% url 'number_generator:data_entry' %}">Generar numeros aleatoreos</a>
		<a class="dropdown-item" href="{% url 'number_generator:chi_entry' %}">Ji-Cuadrado</a>
		<a class="dropdown-item" href="{% url 'number_generator:chi_mix_entry' %}">Ji-Cuadrado mixto</a>
	</div>
</div>
